#container {
  display: flex;
  justify-content: space-around;
}

.outArea {
  border: 0;
  border-bottom: 1px solid;
  padding: 20px 100px;
  outline: none;
  background-color: whitesmoke;
  border-style: solid;
  border-width: 2px;
  color: var(--primary);
  text-align: justify;
}
