#container {
  display: flex;
  justify-content: space-around;
}

.outArea {
  padding: 0px 100px;
  outline: none;
  background-color: whitesmoke;
  border-style: solid;
  border-width: 2px;
  color: var(--primary);
  text-align: left;
  margin: 0px 20px;
}
