#form {
  display: flex;
  flex-direction: column;
}

.container {
  border: 0;
  border-bottom: 1px solid;
  padding: 10px;
  outline: none;
  flex-basis: 100%;
  min-height: 100%;
  margin: 20px;
  background-color: whitesmoke;
  border-style: solid;
  border-width: 2px;
  font-size: 27px;
  color: var(--primary);
  text-align: justify;
}

.input{
  text-align: justify;
}
