:root {
  --primary: #2a9d8f;
  --background: #e9c46a;
  --header: #264653;
  --secondary: #e76f51;
}

* {
  margin: 0;
  padding: 0;
  color: var(--primary);
}

body {
  background: var(--background);
}

input,
textarea {
  border: 0;
  border-bottom: 1px solid;
  padding: 10px;
  outline: none;
  flex-basis: 100%;
  min-height: 100%;
  margin: 20px;
  background-color: whitesmoke;
  border-style: solid;
  border-width: 2px;
  font-size: 27px;
  color: var(--primary);
}
