.name {
  color: var(--background);
}

.icon {
  color: var(--background);
  margin-left: 20px;
}

.about {
  position: relative;
  align-items: right;
  color: var(--background);
}

#namelogo {
  display: flex;
  justify-content: center;
  align-items: center;
}
