.name {
  color: var(--background);
  align-items: left;
  padding:  0px 10px;
}

.icon {
  color: var(--background);
  margin-left: 20px;
  font-size: 80px;
}

.about {
  position: absolute;
  right: 2em;
  align-items: right;
  color: var(--background);
}

#namelogo {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none !important;
}

#about {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none !important;
}
