.name {
  color: var(--background);
}
.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.icon {
  max-height: 10px;
  padding-right: 20px;
}

.about {
  position: relative;
  align-items: right;
  color: var(--background);
}
