
.text {
  border: 0;
  outline: none;
  flex-basis: 100%;
  margin: 20px;
  background-color: whitesmoke;
  border-style: solid;
  border-width: 2px;
  font-size: 16px;
  color: var(--primary);
  text-align: justify;
  padding: 10px;
  min-height: 421px;
  border-radius: 5px;
}

.title {
  text-align: start;
  font-size: 24px;
}

